body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
}

.containerHeader {
    width: 500px;
    background-image: url("./containerHeader.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 50px;
    
}

.container {
    width: 500px;
    background-image: url("./container.png");
    background-size: cover;
    background-position: center;
    background-size: 100%;
    height: 100%;
}

.containerFooter {
    width: 500px;
    background-image: url("./containerFooter.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 50px;
}

/* .container .imgFondo {
    width: 100%;
    height: 100%;
} */

.contenedorInput {
    /* background-color: #dedede; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 50px;
}

.inputText {
    height: 20px;
}

.error::placeholder {
    color: red;
}

.inputBtnAgregar {
    height: 25px;
}

.inputCheck {
    width: 20px;
    height: 20px;
}

.tasks {
    word-wrap: break-word;
}

.divTareas {
    padding: 5px;
    /* background-color: beige; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
}

img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.contenedorCantidadTareas {
    border-top: dotted;
    margin-top: 25px;
}

.tareaTachada {
    color: #C7253E;
    text-decoration: line-through;
}

.img{
    z-index: 20;
}